        <div class="footer">
                <p class="copy">&copy; 2013. Designed by </b> <a href="http://www.spunkmars.org" target="_blank"> <b style="color:#FF00FF;"> SpunkMars++ </b></a> &nbsp;&nbsp; -- VCSPR Web Console v0.3.4 -- </p>
        </div>
